{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="{% static 'number_recognition/examples_selection_styles.css' %}" rel="stylesheet">
    <form id='send_examples_form' action="{% url 'number_recognition:update_examples' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="deleted_user_examples" name="deleted_examples">
        <input type="button" id="Update examples" value="Update!" onclick="updateExamples()">
    </form>
    </form>
</head>
<body>


<div id="Container">
    <div id="UserExamplesGallery">

    </div>
</div>


</body>
</html>

<script src="{% static 'number_recognition/examples_selection_scripts.js' %}"></script>
<script>
    let userExamplesGallery, div, label, img, discardButton, exampleCanvas, pk, id, deletedExamples = [];


    {% for example in examples %}

        {{ example.label }}

        userExamplesGallery = document.getElementById('UserExamplesGallery');

        div = document.createElement('div');
        div.id = 'UserExampleInstance_' + {{example.pk}};
        div.className = 'UserExampleInstance';

        discardButton = document.createElement('button');
        discardButton.innerText = 'Discard!';
        discardButton.onclick = () => {
            pk = {{example.pk}};
            id = 'UserExampleInstance_' + pk;
            userExamplesGallery.removeChild(document.getElementById(id));
            deletedExamples.push(pk);
        };

        exampleCanvas = document.createElement('canvas');


        exampleCanvas.style.border = '1px solid blue';
        exampleCanvas.width = 200;
        exampleCanvas.height = 200;
        img = new Image;

        img.src = '{{ example.drawing_base64 }}'

        exampleCanvas.getContext('2d').drawImage(img, 0, 0);

        label = document.createElement('p');
        label.innerText = {{ example.label }};

        div.appendChild(exampleCanvas);
        div.appendChild(label);
        div.appendChild(discardButton);
        userExamplesGallery.appendChild(div);

    {% endfor %}
</script>
